@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666;
}
strong,
b {
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
}
a:hover {
  color: #444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
i {
  font-size: 1.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 28px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
p {
  color: #666;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 22px;
}
p strong {
  font-weight: 600;
}
.accent-color-bg {
  color: #fff;
}
a {
  color: #444;
}
.fittext {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.8);
}
.fittext strong {
  font-weight: 700;
}
.page-content p {
  margin-bottom: 15px;
}
.wite-text {
  color: #fff;
}
.uppercase {
  text-transform: uppercase;
}
.image-text {
  margin-right: 10px;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  padding-left: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 15px;
  position: relative;
}
.section-title:before {
  position: absolute;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -15px;
  content: "";
}
.big-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.description {
  margin-bottom: 30px;
}
.btn:focus,
.btn:active {
  color: #FFF;
  outline: none;
}
.btn {
  border: none;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  color: #fff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  color: #fff;
}
.btn-effect {
  overflow: hidden;
}
.btn-effect:before {
  left: auto;
  right: 10px;
  z-index: 2;
}
.btn-effect:before {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  line-height: 3;
  width: 60px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-effect:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 230%;
  z-index: 1;
  right: 0px;
  top: 0px;
  margin: -30px -10px 0px -50px;
  transform-origin: 0px 0px 0px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-effect:hover:after {
  width: 62%;
}
.btn-effect:after {
  background: rgba(0, 0, 0, 0.1);
}
.btn-large {
  color: #fff;
  padding: 25px 120px 25px 60px;
  margin: 15px 0px;
}
.btn-border {
  border: 1px solid #fff;
  color: #fff;
}
.btn-border:hover {
  background: #fff;
}
.btn-small {
  font-size: 18px;
  padding: 10px 12px;
}
.pn {
  margin: 0 15px;
}
ul.social-list li {
  float: left;
}
ul.social-list li a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
ul.social-list li a:hover {
  color: #fff;
}
ul.social-list li a.facebook:hover {
  background-color: #507CBE;
}
ul.social-list li a.twitter:hover {
  background-color: #63CDF1;
}
ul.social-list li a.google:hover {
  background-color: #F16261;
}
ul.social-list li a.dribbble:hover {
  background-color: #E46387;
}
ul.social-list li a.linkdin:hover {
  background-color: #90CADD;
}
ul.social-list li a i {
  font-size: 1em;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.social-link a {
  display: inline-block;
  margin-right: 5px;
}
.social-link a i {
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 0px;
  height: 38px;
  line-height: 36px;
  width: 38px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.social-link .facebook i {
  background: #5D82D1;
}
.social-link .twitter i {
  background: #40BFF5;
}
.social-link .google i {
  background: #EB5E4C;
}
.social-link .linkedin i {
  background: #1985BC;
}
input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover {
  background: #444;
  color: #fff;
}
input[type="submit"] {
  border: none;
}
.tooltip .tooltip-inner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
#content {
  padding: 60px 0;
}
#content.full-sections {
  padding: 0;
}
.section {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.section.repeat-bg {
  background-repeat: repeat;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}
.section-video {
  position: absolute;
  z-index: 33;
  left: 0;
  top: -100px;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}
.section-video object {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.section-video img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.section-video-content {
  z-index: 35;
  position: relative;
  opacity: 0.98;
}
.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 34;
  opacity: 0.7;
}
.light-section {
  color: #fff;
}
.light-section .testimonials {
  color: #666;
}
.light-section .testimonials .testimonial-content p {
  color: #c4c4c4;
}
#container {
  background-color: #fff;
}
.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.boxed-page header {
  width: 1220px;
}
#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.square-spin > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
#portfolio-list .mix {
  display: none;
}
#products .mix {
  display: none;
}
.page-header {
  padding: 30px 0;
  background: rgba(255, 187, 2, 0.7);
  margin: 0;
  text-align: center;
}
.page-header .entry-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.breadcrumb {
  font-size: 14px;
  color: #999;
  background: #fff;
  margin: 3px 0 6px;
  width: 300px;
  border-radius: 0px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.breadcrumb a {
  color: #444;
}
.breadcrumb .crumbs-spacer {
  color: #ccc;
  margin: 0 4px;
}
.navbar-collapse {
  max-height: 340px;
}
.top-bar {
  background: #EEEEEE;
  border-bottom: 1px solid #ddd;
}
.top-bar .contact-details li {
  display: inline-block;
  padding: 8px 0;
}
.top-bar .contact-details li a {
  font-size: 14px;
  display: block;
  margin-right: 15px;
  color: #999;
  line-height: 32px;
}
.top-bar .contact-details li a i {
  padding-right: 5px;
  vertical-align: middle;
}
.top-bar ul.social-list {
  float: right;
  padding: 8px 0;
}
.navbar-top.affix {
  width: 100%;
  top: 0;
  z-index: 9999999;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.navbar-top.affix .logo-wrapper {
  margin-top: 15px;
  margin-bottom: 18px;
}
.navbar-top.affix .logo-wrapper .navbar-brand img {
  width: 100px;
}
.navbar-top.affix .navbar-nav > li {
  padding: 15px 0!important;
}
.navbar-top.affix .search-side {
  top: 15px;
}
.navbar-top.affix .full-search {
  top: 67px;
}
.navbar {
  margin-bottom: 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.logo-wrapper {
  margin-top: 19px;
  margin-bottom: 17px;
  float: left;
}
.navbar-brand {
  padding-bottom: 0px;
  display: block;
  height: auto;
  padding-top: 0;
}
.navbar-default .navbar-nav {
  margin-right: 5px!important;
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav > li {
  padding: 31px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #999;
  display: block;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding: 7px 16px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: #ffbb02;
}
.navbar-default .navbar-nav > li > a i {
  margin: 0 -2px 0 -5px;
}
.navbar-default .navbar-nav .dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 260px;
  background-color: #fff;
  visibility: hidden;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li.drop:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.dropdown li,
.sup-dropdown li {
  position: relative;
  border-bottom: 1px dotted #eee;
}
.dropdown li:last-child,
.sup-dropdown li:last-child {
  border-bottom: none;
}
.dropdown li a,
.sup-dropdown li a {
  display: block;
  color: #666;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 11px 16px;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dropdown li a i {
  margin: 0 0 0 -4px;
}
.navbar-default .navbar-nav .sup-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  width: 260px;
  background-color: #fff;
  margin-top: 10px;
  transition: margin-top 0.2s ease-in-out;
  -moz-transition: margin-top 0.2s ease-in-out;
  -webkit-transition: margin-top 0.2s ease-in-out;
  -o-transition: margin-top 0.2s ease-in-out;
  visibility: hidden;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
  visibility: visible;
  margin-top: 0;
}
.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
  color: #fff;
  background-color: #ffbb02;
}
.dropdown li a.active,
.sup-dropdown li a.active {
  color: #fff;
  background-color: #ffbb02;
}
.search-side {
  position: relative;
  float: right;
  top: 30px;
  right: -15px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.show-search {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
}
.show-search i {
  font-size: 1.2em !important;
  display: block;
  color: #666;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  line-height: 36px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.show-search:hover i {
  color: #666;
}
.full-search {
  width: 100%;
  background: #F7F7F7;
  z-index: 9999;
  position: absolute;
  top: 97px;
  display: none;
  left: 0px;
  height: 77px;
  margin-bottom: -1px;
}
.full-search .form-control:focus {
  border: none;
}
.full-search .close-search {
  cursor: pointer;
  color: #fff;
  top: 24px;
}
.full-search .form-control:focus {
  border: none;
}
.full-search .close-search {
  cursor: pointer;
  color: #444;
  top: 24px;
}
.full-search input[type="text"] {
  outline: none;
  font-size: 22px;
  display: inline-block;
  background: #F7F7F7;
  color: #444;
  margin-top: 12px;
  width: 100%;
  margin-left: -45px;
  font-weight: 400;
  border: none;
  padding: 0px 65px;
  line-height: 30px;
}
.nav > li.drop:hover ul.dropdown {
  display: block;
  -webkit-animation: drop-up 400ms ease both;
  -moz-animation: drop-up 400ms ease both;
  -o-animation: drop-up 400ms ease both;
  animation: drop-up 400ms ease both;
}
@-webkit-keyframes drop-up {
  0% {
    -webkit-transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes drop-up {
  0% {
    -moz-transform: translateY(100px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes drop-up {
  0% {
    -o-transform: translateY(100px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes drop-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.wpb-mobile-menu {
  display: none;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .js #wpb-mobile-menu {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
}
.tparrows.preview1:hover:after {
  color: #ffbb02;
}
.tp-bullets.preview1 .bullet:hover,
.tp-bullets.preview1 .bullet.selected {
  background: #ffbb02 !important;
}
.tp-caption .small-description {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 300;
}
.tp-caption .small-description span {
  font-size: 32px;
  font-weight: 700;
}
.tp-caption .big-title {
  font-size: 53px;
  color: #fff;
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
}
.tp-caption .btn-large {
  color: #fff;
  font-size: 22px;
  padding: 18px 40px;
  z-index: 11;
}
#carousel-area {
  overflow: hidden;
}
#carousel-area .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
#carousel-area .carousel-inner .active {
  opacity: 1;
}
#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
  opacity: 1;
}
#carousel-area .carousel-control {
  z-index: 2;
}
#carousel-area .item {
  background-size: 100%;
  background-size: cover;
  height: 560px;
}
#carousel-area .item .carousel-caption {
  top: 35%;
  right: 10%;
  left: 10%;
  text-shadow: none;
}
#carousel-area .item .carousel-caption h2 {
  font-size: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .item .carousel-caption h3 {
  font-size: 20px;
  font-weight: 100;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  margin-bottom: 30px;
  line-height: 40px;
}
#carousel-area .item .carousel-caption .btn {
  margin: 10px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
#carousel-area .active {
  opacity: 1;
}
#carousel-area .active.left,
#carousel-area .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#carousel-area .carousel-control {
  z-index: 10;
  width: 35px;
  height: 55px;
  top: 50%;
  padding: 10px 5px;
  box-shadow: none;
  background-image: none;
  margin-top: -35px;
  text-shadow: none;
}
#carousel-area .carousel-control i {
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  padding: 15px;
}
#carousel-area .left.carousel-control {
  left: 5%;
}
#carousel-area .right.carousel-control {
  right: 5%;
}
#carousel-area .carousel-indicators {
  bottom: 45px;
}
#carousel-area:hover .carousel-control {
  display: block;
}
#carousel-area i {
  margin-right: 10px;
}
.hero-area {
  background: url(../img/hero-area.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
}
.hero-area .contents {
  padding: 110px 0px;
  text-align: center;
}
.hero-area .contents h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.hero-area .contents p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.hero-area .contents .btn {
  margin: 15px;
}
.boxed {
  width: 100%;
  padding: 30px 0;
}
.boxed h3 {
  color: #fff;
  padding: 5px 0;
  font-size: 24px;
}
.boxed .btn-border {
  float: right;
}
.service-box {
  position: relative;
  text-align: center;
}
.service-box .service-head {
  margin-bottom: 25px;
  padding-bottom: 5px;
  position: relative;
}
.service-box .service-head:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  letter-spacing: 50%;
  margin-left: -30px;
  bottom: -5px;
}
.service-box .service-head .icon {
  margin-bottom: 30px;
  display: block;
}
.service-box .service-head .icon i {
  width: 80px;
  background: #f1f1f1;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  height: 80px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.service-box .service-head .icon i:before {
  font-size: 42px;
  margin: 0;
}
.service-box .service-head h2 {
  color: #666;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 30px;
}
.company-ever .company-bg {
  background: #FAFAFA;
  overflow: hidden;
}
.company-ever .content {
  background: #202E31;
  color: #fff;
  float: right;
  padding: 40px;
  position: relative;
  margin-right: -15px;
}
.company-ever .content h2 {
  float: right;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
}
.company-ever .content p {
  float: right;
  color: #FFF;
  padding: 21px 0px;
  text-align: right;
}
.company-ever .content .compayt-button {
  float: right;
}
.company-ever .content:before {
  position: absolute;
  content: "";
  top: -16px;
  left: -23px;
  width: 50px;
  height: 107%;
  background: #FAFAFA none repeat scroll 0% 0%;
  transform: rotate(370deg);
}
#portfolio {
  padding-top: 80px;
}
.controls {
  margin: 25px 0;
}
.controls a {
  display: inline-block;
  border-radius: 0px;
  cursor: pointer;
  margin: 0px 5px;
  color: #898989;
  text-transform: uppercase;
  border: 1px solid #f1f1f1;
  padding: 10px 15px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -0-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
#portfolio-list .mix {
  padding-left: 0;
  padding-right: 0;
}
.portfolio-item {
  overflow: hidden;
  display: block;
  position: relative;
}
.portfolio-item img {
  zoom: 1;
  width: 100%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -0-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.portfolio-item:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -0-transform: scale(1.4);
  transform: scale(1.4);
}
.portfolio-item .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(43, 44, 48, 0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 30px;
  -webkit-transition: all 600ms ease-out 0s;
  -moz-transition: all 600ms ease-out 0s;
  -o-transition: all 600ms ease-out 0s;
  transition: all 600ms ease-out 0s;
}
.portfolio-item .icon {
  left: 0px;
  right: 0px;
  width: 42%;
  top: 30%;
  text-align: center;
  position: absolute;
  opacity: 0;
  margin: 0px auto;
  -webkit-transition: all 600ms ease-out 0s;
  -moz-transition: all 600ms ease-out 0s;
  -o-transition: all 600ms ease-out 0s;
  transition: all 600ms ease-out 0s;
}
.portfolio-item .icon i {
  width: 48px;
  height: 48px;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  color: #fff;
  line-height: 48px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.portfolio-item .icon i:hover {
  color: #444;
}
.portfolio-item .icon .left {
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  transform: translateY(25px);
}
.portfolio-item .icon .right {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  transform: translateY(-25px);
}
.portfolio-item .content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  margin: 0px auto;
  padding: 10px 22px;
  text-align: center;
  -webkit-transform: translateY(90px);
  -moz-transform: translateY(90px);
  transform: translateY(90px);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -0-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.portfolio-item .content h3 {
  color: #31302C;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 33px;
}
.portfolio-item .content h3 a {
  color: #fff;
}
.portfolio-item .content p {
  color: #444;
  font-size: 16px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.portfolio-item:hover .icon {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.portfolio-item:hover .left {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-item:hover .right {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-item:hover .content {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.featured {
  background: transparent url("../img/featured/bg.jpg");
}
.featured:before {
  position: absolute;
  background: rgba(38, 30, 77, 0.7);
  content: " ";
  top: 0px;
  width: 100%;
  height: 100%;
}
.featured-content {
  margin-bottom: 40px;
}
.featured-content p {
  color: #fff;
}
.featured-header {
  display: inline-block;
  margin-bottom: 25px;
}
.featured-header i {
  float: left;
  width: 48px;
  font-size: 18px;
  height: 48px;
  line-height: 44px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-header .featured-title {
  padding-left: 68px;
}
.featured-header .featured-title h4 a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
}
.featured-header .featured-title p {
  font-size: 13px;
  font-weight: 300;
}
.featured-thumb {
  text-align: center;
}
.team-member {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.team-member .team-thumbnail {
  display: block;
  border: 2px solid #eee;
  border-bottom: none;
}
.team-member .team-thumbnail img {
  width: 100%;
}
.team-member .team-thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  opacity: 0;
  bottom: -1px;
  height: 100%;
  background-color: rgba(38, 30, 77, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-member .team-thumbnail .text {
  color: #fff;
  padding: 0 15px;
  top: 25%;
  text-align: center;
  position: absolute;
  width: 100%;
}
.team-member .team-thumbnail .name {
  position: absolute;
  bottom: 74px;
  width: 100%;
}
.team-member .team-thumbnail .social-media {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  text-align: center;
  bottom: 0;
  background: #261E4D;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-member .team-thumbnail .social-media a {
  display: inline-block;
}
.team-member .team-thumbnail .social-media a i {
  font-size: 20px;
  color: #fff;
  width: 42px;
  margin: -2px;
  line-height: 42px;
  height: 42px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.team-member .team-thumbnail .social-media a.facebook:hover i {
  background: #507CBE;
}
.team-member .team-thumbnail .social-media a.twitter:hover i {
  background: #63CDF1;
}
.team-member .team-thumbnail .social-media a.google:hover i {
  background: #F16261;
}
.team-member .team-thumbnail .social-media a.linkedin:hover i {
  background: #90CADD;
}
.team-member .info {
  padding: 15px;
}
.team-member .info h4 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.team-member .info p {
  color: #fff;
}
.team-member:hover .overlay {
  opacity: 1;
}
.team-2 .team-member .team-thumbnail {
  border: none;
}
#counter {
  width: 100%;
  background: url(../img/bg/bg1.jpg) fixed;
  background-size: cover;
  position: relative;
}
#counter:before {
  position: absolute;
  content: " ";
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.counter-item {
  margin: 30px 0;
  border-left: 1px dotted #f1f1f1;
}
.counter-item .icon {
  text-align: center;
  margin-bottom: 22px;
}
.counter-item .icon i {
  font-size: 54px;
  color: #fff;
  line-height: 64px;
}
.counter-item h5 {
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.counter-item h5 span {
  font-size: 11px;
  font-weight: 300;
}
.counter-item hr {
  width: 50px;
  margin: 0px auto;
  height: 2px;
  background: #fff;
}
.left-line {
  border-left: none;
}
.timer {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
}
.project .projects-box {
  padding: 15px 0px 30px;
}
.project .projects-box .projects-thumb {
  margin-bottom: 20px;
  position: relative;
  /*
			&:before{
				content: '';
				position: absolute;
				background: rgba(43, 44, 48, 0.8);
				top: 0;
				opacity: 0;
				width: 100%;
				left: 0;
				height: 100%;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
			*/
}
.project .projects-box .projects-thumb:hover:before {
  opacity: 1;
}
.project .projects-box .projects-content h4 {
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.project .projects-box .projects-content h4 a:hover {
  color: #ffbb02;
}
.project .projects-box .projects-content .recent-meta {
  font-size: 11px;
  padding: 6px 0 5px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.project .projects-box .projects-content .recent-meta span {
  margin-right: 5px;
}
.project .projects-box .projects-content .recent-meta span i {
  margin-right: 5px;
  color: #ccc;
}
.project .projects-box .projects-content .projects-desc {
  margin-bottom: 15px;
}
#testimonial {
  width: 100%;
  background: url(../img/testimonial/testimonial-bg.jpg);
  background-size: cover;
  position: relative;
}
#testimonial:before {
  position: absolute;
  background: rgba(238, 180, 20, 0.7);
  content: " ";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#testimonial .img-member {
  height: 125px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #fff;
  margin-top: 22px;
  overflow: hidden;
  width: 125px;
}
#testimonial .client-info {
  color: #fff;
  line-height: 20px;
  margin-top: 30px;
  max-width: 485px;
  padding: 6px 0;
  margin: 42px auto;
}
#testimonial .client-info .client-name {
  font-size: 22px;
  line-height: 44px;
  text-transform: uppercase;
}
#testimonial .client-info .client-name span {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  font-style: italic;
}
#testimonial p {
  margin: 40px 33px;
  text-align: center;
  border-left: 0px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-style: italic;
  position: relative;
}
#testimonial p .quote-left {
  font-size: 32px;
  margin-right: 36px;
}
#testimonial p .quote-right {
  font-size: 32px;
  margin-left: 36px;
}
#testimonial .owl-theme .owl-controls .owl-buttons div {
  border-radius: 50%;
  font-size: 30px;
  margin: 20px 10px 0;
  padding: 0 16px;
}
.client {
  background: #f1f1f1;
}
.client-logo {
  overflow: hidden;
}
.client-item {
  padding: 15px 0;
  text-align: center;
}
.client-item a {
  display: block;
}
.client-item img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}
.client-item img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: gray;
  opacity: 1.0;
}
.clear {
  clear: both;
}
footer {
  background-color: #333;
  padding: 60px 0;
}
footer p {
  color: #ccc;
}
footer a {
  color: #666;
}
.footer-widget h4 {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.flickr-widget ul {
  overflow: hidden;
}
.flickr-widget ul li {
  float: left;
  margin-left: 3px;
  margin-bottom: 3px;
}
.flickr-widget ul li a {
  display: inline-block;
  width: 80px;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.flickr-widget ul li a img {
  width: 100%;
  height: 65px;
}
.flickr-widget ul li a:hover {
  opacity: 1;
}
.address li {
  display: block;
  margin-bottom: 16px;
}
.address li a {
  color: #fff;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.address li a i {
  padding-right: 5px;
}
.hours-widget .contact-info p {
  margin-bottom: 5px;
}
.hours-widget .contact-info ul.hours li {
  color: #fff;
  margin: 0;
  padding: 5px 0px;
  border-top: 1px solid #666;
}
.hours-widget .contact-info ul.hours li:first-child {
  border-top: none;
}
.hours-widget .contact-info ul.hours span {
  float: right;
  font-weight: 700;
}
.copyright-section {
  padding: 15px 0;
  background: #666;
  text-align: center;
  letter-spacing: 0.5px;
}
.copyright-section p {
  font-size: 12px;
  color: #fff;
}
.copyright-section p a:hover {
  color: #fff;
}
.copyright-section ul.footer-nav {
  float: right;
}
.copyright-section ul.footer-nav li {
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.copyright-section ul.footer-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #6D7780;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.copyright-section ul.footer-nav li a:hover {
  color: #fff;
}
.copyright-section ul.footer-nav li:first-child {
  margin-left: 0;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.switcher-box {
  width: 236px;
  position: fixed;
  left: -236px;
  top: 180px;
  padding: 15px 0;
  z-index: 999999999;
  background-color: #fff;
  display: block !important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.switcher-box h4 {
  display: block;
  margin: 0px 20px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 10px;
}
.switcher-box span {
  display: block;
  text-transform: uppercase;
  padding: 5px 20px;
  text-align: left;
}
.switcher-box .colors-list {
  padding: 0 18px 0 18px;
  margin-bottom: 8px;
  line-height: 20px;
}
.switcher-box .colors-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .colors-list li a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 3px;
  cursor: pointer;
}
.switcher-box .colors-list li a.yellow {
  background-color: #ffbb02;
}
.switcher-box .colors-list li a.turquoise {
  background-color: #1abc9c;
}
.switcher-box .colors-list li a.emerald {
  background-color: #2ecc71;
}
.switcher-box .colors-list li a.river {
  background-color: #3498db;
}
.switcher-box .colors-list li a.wisteria {
  background-color: #8e44ad;
}
.switcher-box .colors-list li a.alizarin {
  background-color: #e74c3c;
}
.switcher-box .layout-style,
.switcher-box .topbar-style {
  width: 172px;
  padding: 6px 9px;
  outline: none;
  display: block;
  background: #fff;
  border-radius: 3px;
  padding: 4px 6px;
  color: #666;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  margin: 0 0 12px 20px;
  border: 1px solid #ddd;
}
.switcher-box .bg-list {
  padding: 0 18px 0 18px;
  margin-bottom: 5px;
}
.switcher-box .bg-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .bg-list li a {
  display: block;
  border-radius: 3px;
  width: 27px;
  height: 27px;
}
.switcher-box .bg-list li a.bg1 {
  background: url(../img/patterns/1.jpg) repeat;
}
.switcher-box .bg-list li a.bg2 {
  background: url(../img/patterns/2.jpg) repeat;
}
.switcher-box .bg-list li a.bg3 {
  background: url(../img/patterns/3.png) repeat;
}
.switcher-box .bg-list li a.bg4 {
  background: url(../img/patterns/4.png) repeat;
}
.switcher-box .bg-list li a.bg5 {
  background: url(../img/patterns/5.png) repeat;
}
.switcher-box .bg-list li a.bg6 {
  background: url(../img/patterns/6.png) repeat;
}
.switcher-box .open-switcher {
  width: 42px;
  height: 42px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 100%;
  border-radius: 0px;
}
.switcher-box .open-switcher i {
  text-align: center;
  line-height: 42px;
  font-size: 25px;
  color: #fff;
  display: block;
}
.iframe {
  border: none;
}
.error-bg {
  background: #ECF0F1;
}
.error-page {
  text-align: center;
  padding: 40px 0;
}
.error-page p {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-bottom: 25px;
}
.error-page h1 {
  font-size: 280px;
  margin: 130px 0px;
}
.error-page h2 {
  font-size: 42px;
  line-height: 68px;
}
.error-page #search {
  position: relative;
  margin-bottom: 50px;
}
.error-page #search p {
  color: #999;
}
.error-page #search .search-btn {
  position: absolute;
  top: 65px;
  right: 15px;
}
/*
 * Nivo Lightbox v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
.nivo-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
  visibility: visible;
  opacity: 1;
}
.nivo-lightbox-wrap {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.nivo-lightbox-content {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
}
.nivo-lightbox-nav {
  display: none;
}
.nivo-lightbox-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.nivo-lightbox-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.nivo-lightbox-close {
  position: absolute;
  top: 2%;
  right: 2%;
}
.nivo-lightbox-image {
  text-align: center;
}
.nivo-lightbox-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.nivo-lightbox-content iframe {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-ajax {
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
  display: table-cell;
  vertical-align: middle;
}
.nivo-lightbox-effect-fade,
.nivo-lightbox-effect-fadeScale,
.nivo-lightbox-effect-slideLeft,
.nivo-lightbox-effect-slideRight,
.nivo-lightbox-effect-slideUp,
.nivo-lightbox-effect-slideDown,
.nivo-lightbox-effect-fall {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translateZ(300px);
  -moz-transform: translateZ(300px);
  -ms-transform: translateZ(300px);
  transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
  background: #666;
  background: rgba(0, 0, 0, 0.8);
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
  background: url(../img/lightbox/loading.gif) no-repeat 50% 50%;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav {
  top: 10%;
  width: 8%;
  height: 80%;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev {
  background-image: url(../img/lightbox/prev.png);
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next {
  background-image: url(../img/lightbox/next.png);
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}
.nivo-lightbox-theme-default .nivo-lightbox-close {
  display: block;
  background: url(../img/lightbox/close.png) no-repeat 5px 5px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  padding: 5px;
  opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover {
  opacity: 1;
}
.nivo-lightbox-theme-default .nivo-lightbox-title-wrap {
  bottom: -7%;
}
.nivo-lightbox-theme-default .nivo-lightbox-title {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #000;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.nivo-lightbox-theme-default .nivo-lightbox-image img {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
@media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
    background-image: url(../img/lightbox/loading@2x.gif);
    background-size: 32px 32px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-prev {
    background-image: url(../img/lightbox/prev@2x.png);
    background-size: 48px 48px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-next {
    background-image: url(../img/lightbox/next@2x.png);
    background-size: 48px 48px;
  }
  .nivo-lightbox-theme-default .nivo-lightbox-close {
    background-image: url(../img/lightbox/close@2x.png);
    background-size: 16px 16px;
  }
}
.btn-wite {
  border: 1px solid #eee;
  color: #444;
  margin-left: 10px;
}
.about .group-btn {
  margin-top: 30px;
}
.banner {
  position: relative;
}
.banner .wrapper {
  padding: 30px 0;
  color: #fff;
}
.banner h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}
.banner p {
  color: #fff;
}
.post-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.post-title a {
  color: #444;
}
.blog-post {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.blog-post .post-thumb {
  position: relative;
}
.blog-post .post-thumb .hover-wrap {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  background: rgba(5, 47, 67, 0.8);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.blog-post .post-thumb .hover-wrap .link {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 22px;
  z-index: 1;
  padding: 0;
  display: block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.blog-post .post-thumb .hover-wrap .link i {
  font-size: 20px;
  text-align: center;
  width: 40px;
  line-height: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.blog-post .post-thumb:hover .hover-wrap {
  opacity: 1;
}
.blog-post .post-thumb:hover .link {
  margin-top: 0px;
}
.blog-post .date {
  border: 1px solid #e3e3e3;
  float: left;
  height: 68px;
  margin-top: 32px;
  text-align: center;
  width: 68px;
}
.blog-post .date p {
  color: #999;
  padding: 6px 0;
  text-transform: uppercase;
}
.blog-post .post-content {
  width: 100%;
  padding: 30px 92px;
}
.blog-post .post-content .meta {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 17px;
  padding-bottom: 11px;
  border-bottom: 1px solid #eee;
}
.blog-post .post-content .meta .meta-part {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 25px;
}
.blog-post .post-content .meta .meta-part a {
  color: #999;
}
.blog-post .post-content p {
  margin-bottom: 30px;
}
#pagination span,
#pagination a {
  display: inline-block;
  text-align: center;
  height: 34px;
  width: 34px;
  color: #666;
  line-height: 33px;
  border: 1px solid #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#pagination a:hover {
  border-color: #ddd;
}
#pagination .all-pages,
#pagination .next-page {
  width: auto;
  padding: 0 14px;
}
.widget-title {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 1px;
  padding: 10px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  word-spacing: 1px;
  position: relative;
}
.widget-title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
}
.right-sidebar {
  padding-left: 20px;
}
.search {
  width: 100%;
  margin-bottom: 0px !important;
  position: relative;
}
.search-btn {
  position: absolute;
  top: 12px;
  right: 30px;
  border: none;
  background: transparent;
}
.search-btn i {
  color: #999;
}
#sidebar {
  margin-bottom: 30px;
}
#sidebar .widget {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 22px;
  padding-bottom: 30px;
}
#sidebar .widget:last-child {
  border-bottom: none;
}
#sidebar .cat-list li {
  padding: 7px 0;
}
#sidebar .cat-list li a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#sidebar .cat-list li .num-posts {
  font-size: 12px;
}
#sidebar .cat-list li:last-child {
  border: none;
}
#sidebar .posts-list li {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}
#sidebar .posts-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
#sidebar .posts-list .widget-thumb {
  float: left;
}
#sidebar .posts-list .widget-thumb a {
  display: block;
}
#sidebar .posts-list .widget-thumb a img {
  opacity: 1;
  max-width: 90px;
  margin: 5px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}
#sidebar .posts-list .widget-content a {
  font-weight: 400;
  color: #666;
}
#sidebar .posts-list .widget-content span {
  color: #999;
  font-size: 12px;
  display: block;
  margin: 3px 0;
}
#sidebar .posts-list .widget-content span i {
  padding-right: 5px;
}
#sidebar .tag a {
  display: inline-block;
  font-size: 12px;
  color: #444;
  padding: 7px 12px;
  border: 1px solid #E5E5E5;
  margin: 4px 2px;
  border-radius: 0x;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#sidebar .tag a i {
  padding-right: 5px;
}
.single-gallery .post-content {
  padding: 30px 0;
}
.single-gallery p {
  margin-bottom: 20px!important;
}
blockquote {
  padding: 20px;
  background: #F5F5F5;
  position: relative;
}
blockquote i {
  font-size: 32px;
  position: absolute;
  margin-top: 10px;
}
blockquote .quote-text {
  color: #999;
  font-size: 14px;
  line-height: 26px;
  display: block;
  font-style: italic;
  font-weight: 400;
}
.comments-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}
#comments .comments-list {
  padding: 0;
  margin: 0 0 35px 0;
}
#comments .comments-list li .comment-box {
  border-radius: 4px;
  padding: 22px 0;
}
#comments .comments-list li ul {
  padding-left: 100px;
}
#comments .user {
  background: #fff;
  width: 80px;
  float: left;
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px #999;
  height: 80px;
  position: relative;
}
#comments .comment-content {
  margin-left: 100px;
  background: #F7F7F7;
  border-radius: 0;
  padding: 16px 22px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px #f1f1f1;
}
#comments .comment-content .comment-meta {
  margin-bottom: 5px;
}
#comments .comment-content .comment-by {
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
}
#comments .comment-content .comment-by:hover {
  color: #444;
}
#comments .comment-content .comment-date {
  color: #444;
}
#comments .content-bg {
  background: none;
}
.reply-link {
  color: #fff;
  background: #CACACA;
  padding: 2px 22px;
  border-radius: 0px;
  display: inline-block;
  font-size: 12px;
  margin: 10px 3px 0 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.respond-title {
  font-weight: 400;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 1px solid #EEE;
}
.project-content h4 {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.project-content h4 span {
  padding-bottom: 8px;
  border-bottom: 1px solid;
}
.project-content p {
  margin-bottom: 30px;
}
.project-content .share {
  margin-top: 20px;
  font-size: 14px;
}
.project-content .share span {
  margin-right: 10px;
}
.recent-projects h4.title {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.recent-projects h4.title span {
  padding-bottom: 8px;
  border-bottom: 1px solid;
}
.projects-carousel {
  width: 1150px !important;
}
.projects-carousel .item {
  margin-right: 15px;
  margin-bottom: 0;
}
.projects-carousel-3 {
  width: 1150px !important;
}
.projects-carousel-3 .item {
  margin-right: 15px;
  margin-bottom: 0;
}
.main-desc {
  margin-bottom: 30px;
}
.main-desc p {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}
.services-2 .tabs-content:not(.active) {
  display: none;
}
.services-2 .tab-menu .list-group {
  margin: 0;
  padding: 0;
}
.services-2 .tab-menu .list-group li {
  margin-bottom: 15px;
}
.services-2 .tab-menu .list-group li a {
  font-size: 12px;
  border: 1px solid #E5E5E5;
  padding: 15px;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.services-2 .tab-menu .list-group li a .icon {
  margin-right: 5px;
}
.services-2 .tab-menu .list-group li a:hover,
.services-2 .tab-menu .list-group li.active a {
  color: #fff;
}
.services-2 .tabs-content {
  border: 1px solid #E5E5E5;
  padding: 30px;
}
.services-2 .tabs-content .services-list {
  padding: 0 30px;
}
.services-2 .tabs-content .services-list .list {
  margin-bottom: 30px;
}
.services-2 .tabs-content .services-list .list li {
  line-height: 36px;
  font-size: 15px;
}
.services-2 .tabs-content .services-list .list li span {
  color: #fff;
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
.service-3 .service-item {
  padding: 30px;
  border: 2px solid #E5E5E5;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.service-3 .service-item .icon {
  margin-bottom: 15px;
}
.service-3 .service-item .icon i {
  display: block;
  width: 70px;
  height: 64px;
  line-height: 58px;
  text-align: center;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.service-3 .service-item .icon i:before {
  font-size: 36px;
  margin: 0;
}
.service-3 .service-item h3 a {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
.service-3 .service-item:hover h3 a {
  color: #fff;
}
.service-3 .service-item:hover .icon i {
  color: #fff;
  border-color: #fff;
}
.single-slider {
  margin-bottom: 60px;
}
.project-details,
.share {
  background: #F6F6F6;
  padding: 30px;
  margin-bottom: 30px;
}
.project-details h4,
.share h4 {
  margin-bottom: 10px;
}
.project-details p {
  line-height: 26px;
  color: #BDBDBD;
}
.project-details p span {
  font-weight: 700;
  color: #7D7D7D;
}
.heading {
  margin-bottom: 35px;
}
.item-wrapper {
  padding: 30px 0;
  position: relative;
}
.item-wrapper .icon {
  margin-bottom: 20px;
}
.item-wrapper .icon i {
  width: 68px;
  background: #f1f1f1;
  line-height: 68px;
  text-align: center;
  display: inline-block;
  height: 68px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.item-wrapper .icon i:before {
  font-size: 42px;
  margin: 0;
}
.item-wrapper .icon-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.single-img {
  margin-bottom: 50px;
}
.content-company {
  padding: 21px;
  border: 1px solid #e5e5e5;
}
.company-history {
  margin-bottom: 30px;
}
.company-history img {
  width: 100%;
}
.company-history .content-history-header {
  margin-bottom: 7px;
}
.company-history .content-history-header .year {
  font-size: 24px;
  line-height: 36px;
}
.partners {
  margin-bottom: 30px;
}
.partners .logo {
  border: 1px solid #E5E5E5;
  background: #f1f1f1;
  width: 100%;
  text-align: center;
  padding: 15px;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.partners .partners-text h3 {
  margin-bottom: 7px;
}
.partners .partners-text h3 a {
  color: #666;
}
.pricing-section {
  margin-bottom: 60px;
}
.pricing-tables {
  padding: 25px 0;
  text-align: center;
}
.pricing-tables .pricing-table {
  border: 1px solid #E5E5E5;
  text-align: center;
  position: relative;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.pricing-tables .pricing-table .plan-name {
  padding: 40px 0;
  border-bottom: 1px solid #E5E5E5;
}
.pricing-tables .pricing-table .plan-name .icon {
  margin-bottom: 30px;
}
.pricing-tables .pricing-table .plan-name .icon i {
  font-size: 40px;
  padding: 10px;
}
.pricing-tables .pricing-table .plan-name h3 {
  font-weight: 700;
  font-size: 24px;
}
.pricing-tables .pricing-table .plan-price {
  padding: 30px 0;
  color: #fff;
}
.pricing-tables .pricing-table .price-value {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.pricing-tables .pricing-table .price-value span {
  font-size: 26px;
  font-weight: 400;
  margin-right: 5px;
}
.pricing-tables .pricing-table .interval {
  line-height: 14px;
}
.pricing-tables .pricing-table .plan-list {
  padding: 30px 20px;
}
.pricing-tables .pricing-table .plan-list li {
  padding: 8px;
  border-bottom: 1px solid #E5E5E5;
}
.pricing-tables .pricing-table .plan-list li:first-child {
  border-top: 1px solid #E5E5E5;
}
.pricing-tables .pricing-table:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.pricing-tables .plan-signup {
  padding: 30px 0;
}
.product {
  border: 1px solid #E5E5E5;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  position: relative;
}
.product .post-featured {
  position: relative;
  background: #F9F9F9;
  overflow: hidden;
}
.product .post-featured .esg-overlay {
  position: absolute;
  background: rgba(5, 47, 67, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product .post-featured .esg-overlay .icon {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product .post-featured .esg-overlay .icon i {
  font-size: 20px;
  text-align: center;
  width: 40px;
  line-height: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product .post-featured:hover .esg-overlay {
  opacity: 1;
}
.product .post-featured:hover .icon {
  margin-top: -22px;
}
.product .post-content {
  padding: 30px;
  border-top: 1px solid #E5E5E5;
  text-align: center;
}
.product .post-content h4 {
  color: #444;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.product .post-content .product-price {
  padding: 15px;
}
.product .post-content .product-price .amount {
  font-size: 18px;
}
.product .btn-cart {
  color: #999;
  text-transform: none;
  font-size: 16px;
}
#content .big-title {
  margin-bottom: 30px;
}
.form-control {
  height: 48px;
}
.form-control,
textarea {
  background: #F7F7F7;
  border: none;
  font-size: 15px;
  outline: medium none;
  color: #999;
  margin-bottom: 30px;
  padding: 10px 12px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  box-shadow: none;
}
.form-control:focus,
textarea:focus {
  box-shadow: none;
  border-bottom: 2px solid #ffbb02;
}
.information {
  margin-top: 15px;
}
.contact-datails {
  margin-bottom: 34px;
  min-height: 75px;
  position: relative;
}
.contact-datails p {
  margin-bottom: 1em;
}
.contact-datails p i {
  padding-right: 10px;
}
.title-banner {
  position: relative;
  padding: 40px;
  color: #fff;
}
.title-banner h2 {
  font-size: 30px;
}
#google-map,
body,
html {
  padding: 0;
  height: 400px;
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(../images/icons/grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
@-webkit-keyframes empty {
  0% {
    opacity: 1;
  }
}
@-moz-keyframes empty {
  0% {
    opacity: 1;
  }
}
@keyframes empty {
  0% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}
@-moz-keyframes backSlideOut {
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}
@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}
@-webkit-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}
@-moz-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}
@keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}
@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%);
  }
}
@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}
@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}
@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}
@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.owl-theme .owl-controls {
  text-align: center;
}
.touch-slider .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  line-height: 45px;
  display: inline-block;
  zoom: 1;
  opacity: 0;
  *display: inline;
  /*IE7 life-saver */
  background: #fff;
  color: #ffbb02;
  filter: alpha(opacity=60);
  /*IE7 fix*/
  margin-top: -30px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.touch-slider:hover .owl-controls .owl-buttons div {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.touch-slider .owl-controls .owl-buttons div.owl-prev {
  left: 0;
}
.touch-slider .owl-controls .owl-buttons div.owl-next {
  right: 0;
}
.touch-slider .owl-controls .owl-buttons div i {
  font-size: 1.8em;
}
.touch-carousel .owl-controls .owl-buttons {
  position: absolute;
  top: -38px;
  right: 15px;
}
.touch-carousel.projects-carousel .owl-controls .owl-buttons {
  right: 12px;
}
.projects-carousel .owl-controls .owl-buttons {
  right: 9px;
}
.touch-carousel.projects-carousel-3 .owl-controls .owl-buttons {
  right: 12px;
}
.projects-carousel-3 .owl-controls .owl-buttons {
  right: 9px;
}
.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 1;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.touch-slider:hover .owl-controls .owl-page span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
  background: #ffbb02;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.touch-carousel.projects-carousel .owl-controls .owl-buttons {
  right: 12px;
}
.touch-carousel.projects-carousel-3 .owl-controls .owl-buttons {
  right: 12px;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons {
  position: relative;
  top: 0;
  right: 0;
}
.touch-carousel.navigation-2.clients-carousel .owl-controls .owl-buttons {
  top: -8px;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div,
.touch-carousel.navigation-3 .owl-controls .owl-buttons div {
  background-color: #f2f2f2;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div i,
.touch-carousel.navigation-3 .owl-controls .owl-buttons div i {
  color: #666;
}
.touch-carousel.navigation-3 {
  padding-top: 45px;
}
.touch-carousel.navigation-3.clients-carousel {
  padding-top: 25px;
}
.touch-carousel.navigation-3 .owl-controls .owl-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div,
.touch-carousel.navigation-3 .owl-controls .owl-buttons div {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.touch-carousel.navigation-3.projects-carousel .owl-controls .owl-buttons {
  right: 9px;
}
.touch-carousel.navigation-3.projects-carousel-3 .owl-controls .owl-buttons {
  right: 9px;
}
.touch-carousel .owl-controls .owl-buttons div,
.testimonials-carousel .owl-controls .owl-buttons div {
  height: 22px;
  width: 22px;
  line-height: 22px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  margin-left: 4px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border: 1px solid #ccc;
}
.touch-carousel .owl-controls .owl-buttons div i,
.testimonials-carousel .owl-controls .owl-buttons div i {
  font-size: 1.2em;
  color: #ccc;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.tab-title {
  margin-bottom: 20px;
  font-size: 22px;
}
.nav-tabs > li > a {
  font-size: 15px;
  font-weight: 700;
  margin-right: 0;
  border: 1px solid #E5E5E5;
  color: #666;
  margin-right: -1px;
  border-radius: 0;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.tab-content {
  border: 1px solid #e5e5e5;
  border-top: none;
  padding: 12px 16px;
}
.tab-content p {
  margin-bottom: 15px;
}
.tab-content p:last-child {
  margin-bottom: 0;
}
.positions .table tbody td {
  border-top: none;
  border-bottom: 1px solid #E5E5E5;
}
.panel-heading {
  padding: 0;
}
.panel-heading .panel-title a {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 12px 15px 11px;
  box-shadow: none;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.panel-heading .panel-title a:after {
  font-family: "FontAwesome";
  content: "\f104";
  position: absolute;
  right: 15px;
  font-size: 22px;
  font-weight: 300;
  top: 50%;
  line-height: 1;
  margin-top: -12px;
}
.panel-heading .panel-title .collapsed:after {
  content: "\f107";
}
.panel-heading .panel-title a.collapsed {
  background-color: transparent;
  color: inherit;
}
.panel-heading .panel-title a.collapsed:hover {
  color: #ffffff;
}
.panel-heading .panel-title a .control-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.panel-default {
  box-shadow: none;
  border: none;
  padding: 0;
}
.panel-body {
  padding: 4px 15px 10px 15px;
  border: 1px solid #e1e1e1;
  border-top: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-group .panel {
  margin-bottom: 15px;
}
.cta {
  padding: 30px 0;
}
.cta p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}
